@media screen and (min-width: 1000px) { 
	body {
		max-width: 1000px;
		margin-left: calc(50vw - 500px) !important;
		margin-right: calc(50vw - 500px) !important;
	}
}

@media screen and (min-width: 1024px) { 
	.hide-desktop { display: none !important; }
	.only-tablet { display: none !important; }
	.only-phoneland { display: none !important; }
	.only-phoneport { display: none !important; }
}