/* General Helper Classes */
.hide, .hidden { display: none !important; }
.disabled { opacity: .4 !important; cursor: not-allowed !important; }
.noBorder { border: none !important; }
.font75 { font-size: 75% !important; }
.font85 { font-size: 85% !important; }
.font90 { font-size: 90% !important; }
.font115 { font-size: 115% !important; }
.font125 { font-size: 125% !important; }
.font150 { font-size: 150% !important; }
.top0 { margin-top: 0px !important; padding-top: 0 !important; }
.marTop0 { margin-top: 0px !important; }
.marTop3 { margin-top: 3px !important; }
.marTop5 { margin-top: 5px !important; }
.marTop10 { margin-top: 10px !important; }
.marTop15 { margin-top: 15px !important; }
.marTop20 { margin-top: 20px !important; }
.marTop25 { margin-top: 25px !important; }
.marTop30 { margin-top: 30px !important; }
.marBottom0 { margin-bottom: 0px !important; }
.marBottom3 { margin-bottom: 3px !important; }
.marBottom5 { margin-bottom: 5px !important; }
.marBottom10 { margin-bottom: 10px !important; }
.marBottom15 { margin-bottom: 15px !important; }
.marBottom20 { margin-bottom: 20px !important; }
.marBottom25 { margin-bottom: 25px !important; }
.marBottom30 { margin-bottom: 30px !important; }
.marRight0 { margin-right: 0px !important; }
.marRight5 { margin-right: 5px !important; }
.marRight10 { margin-right: 10px !important; }
.marRight20 { margin-right: 20px !important; }
.marLeft0 { margin-left: 0px !important; }
.marLeft5 { margin-left: 5px !important; }
.marLeft10 { margin-left: 10px !important; }
.marLeft15 { margin-left: 15px !important; }
.marLeft20 { margin-left: 20px !important; }
.marVert0 { margin-top: 0px !important; margin-bottom: 0px !important; }
.marVert5 { margin-top: 5px !important; margin-bottom: 5px !important; }
.marVert10 { margin-top: 10px !important; margin-bottom: 10px !important; }
.marVert15 { margin-top: 15px !important; margin-bottom: 15px !important; }
.marVert25 { margin-top: 25px !important; margin-bottom: 25px !important; }
.marHoriz0 { margin-left: 0px !important; margin-right: 0px !important; }
.marHoriz5 { margin-left: 5px !important; margin-right: 5px !important; }
.marHoriz10 { margin-left: 10px !important; margin-right: 10px !important; }
.mar0 { margin: 0px !important; }
.mar2 { margin: 2px !important; }
.mar5 { margin: 5px !important; }
.mar10 { margin: 10px !important; }
.mar20 { margin: 20px !important; }
.pad0 { padding: 0px !important; }
.padLeft0 { padding-left: 0px !important; }
.padLeft10 { padding-left: 10px !important; }
.padRight0 { padding-right: 0px !important; }
.padRight10 { padding-right: 10px !important; }
.pad3 { padding: 3px !important; }
.pad5 { padding: 5px !important; }
.pad10 { padding: 10px !important; }
.pad20 { padding: 20px !important; }
.pad30 { padding: 30px !important; }
.pad2x5 { padding: 2px 5px; }
.pad5x10 { padding: 5px 10px; }
.pad20x0 { padding: 20px 0px; }
.pad1020 { padding: 10px 20px; }
.pad1040 { padding: 10px 40px; }
.pad0x10 { padding: 0px 10px; }
.pad10x0 { padding: 10px 0px; }
.pad5x0 { padding: 5px 0px; }
.pad0x5 { padding: 0px 5px;}
.opa75 { opacity: .75; }
.opa50 { opacity: .50; }
.opa25 { opacity: .25; }
.opa15 { opacity: .15; }
.miniLabel { font-size: 0.5em !important; }
.smallLabel { font-size: 0.7em !important; }
.bottomBot { border-bottom: 1px solid gray !important; }
.borRed { border-color: darkred !important; }
.borOrange { border-color: darkorange !important; }
.colorBlue { color: mediumblue; }
.bgGone { background: none !important; background-color: transparent !important; }
.borGone { border: none !important; border-color: transparent !important; }
.borBlue { border-color: dodgerblue !important; }
.borTop0 { border-top: 0px !important; }
.clickable, .pointy, .actionable { cursor: pointer; }
.pointless { cursor: default !important; }
.fa-thumb-tack { padding: 0px 2px; }
.smallcaps { font-variant: small-caps; }
.normalcaps { font-variant: normal; }
.fullWidth { width: 100% !important; }
.fullHeight { height: 100% !important; }
.widAuto { width: auto !important; }
.wid75 { width: 75% !important; }
.wid85 { width: 85% !important; }
.minWid90 { min-width: 90% !important; }
.minWid130 { min-width: 130px !important; }
.minWid150 { min-width: 150px !important; }
.minWid250 { min-width: 250px !important; }
.minWid300 { min-width: 300px !important; }
.minWid350 { min-width: 350px !important; }
.maxWid150 { max-width: 150px !important; }
.maxWid300 { max-width: 300px !important; }
.maxWid360 { max-width: 360px !important; }
.maxWid400 { max-width: 400px !important; }
.zeroMargin { margin: 0; }
.blur { filter: blur(5px); }
.midSize { width: 375px; }
.autoHeight { height: auto !important;  }
.autoWidth { width: auto !important; min-width: auto !important; max-width: auto !important; }
.goBold { font-weight: bold; }
.goMid { font-size: 1.3em !important; }
.goLarge { font-size: 1.8em !important; }
.goBig { font-size: 3em !important; }
.goHuge { font-size: 4.3em !important; }
.headerFont { font-family: 'Teko', sans-serif; }
.logoFont { font-family: 'Lobster'; }
.blockHead { display: block !important; }
.getInline { display: inline !important; }
.bold { font-weight: bold; }
.dashing { border: 2px dashed gray; }
.underhanded { display: block; border-bottom: 1px solid gray; box-shadow: 0px 1px 5px #aaa}
.underscore { border-bottom: 2px solid; padding-bottom: 2px;}
.halfLine { line-height: 1.25; }
.shady { background-color: gainsboro; }
.textBlack { color: #000 !important; }
.textWhite { color: #fff !important; }
.textGray { color: #777 !important; }
.bgGray { background-color: #777; }
.noDecor { text-decoration: none !important; }
.noSelect, .noSelect *, .pointy, .pointy * { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.spaceCaps { font-variant: all-small-caps; letter-spacing: 2px; }
.border { border: 1px solid transparent; }
.bgTrans { transition: background-color 1s ease !important; }
.roundy { border-radius: 5px; }
.blurry { filter: blur(4px); }
.bor1 { border: 1px solid transparent;}
.min35block { min-height: 35px; min-width: 35px; }
button[disabled] { opacity: .3; }
.breakSpaces { 
	white-space: pre-line; 
	word-spacing: 1000px;
	width: min-intrinsic;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
	display: table-caption;
	display: -ms-grid;
	-ms-grid-columns: min-content;
}
.columnList3 {
	display: grid;
	column-gap: 50px;
	grid-template-columns: repeat(3, 3fr);
}