@import 'animations.scss';
@import 'flexhelpers.scss';
@import 'genhelpers.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'fonts.scss';
@import 'print.scss';
@import 'phoneport.scss';
@import 'phoneland.scss';
@import 'tablet.scss';
@import 'desktop.scss';

html, body { 
	margin: 0;
	height: 100%;
	min-height: 100vh;
	> .splash {
		min-height: 50vh;
		font-size: 175%;
	}
}

/* Main Content DIV */
#content {
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

/* Loading Page */

.splash {
	margin: 35px 0px 20px 0px;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.loadMessage, .loadIcon {
		font-size: 1.65em;
		max-width: 400px;
		font-family: "Georgia";
		text-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 3px;
		font-variant: small-caps;
	}
	.loadIcon {
		font-size: 2.75em;
		margin: 20px 0px;
	}
}

/* TOP MENU */
#topMenuBar {
	// width: calc(100% - 10px);;
	z-index: 10;
	width: 100%;
	overflow-y: hidden;
	margin: 0px 2px;
	.mainMenu {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		height: 40px;
		div {
			align-items: center;
			display: inline-flex;
		}
		.topMenuLogo {
			.logoImage {
				width: 35px;
				margin-right: 5px;
			}
			.logoText {
				font-family: "Righteous";
				letter-spacing: 1px;
				font-size: 1.3em;
			}
		}
		> div {
			padding: 0px 10px;
		}
		.topMenuTrigger {
			font-size: 1.3em;
			margin-left: 10px;
			button.round {
				border-radius: 25px;
				padding: 0;
				margin: 0;
				width: 30px;
				height: 30px;
				font-size: .9em;
				display: inline-flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.mobileMenu, .mainMenu {
	z-index: 10;
	button {
		font-variant: small-caps;
		border: none;
		padding: 0px 5px;
		margin: 0px 5px;
		font-size: 1.1em;
		cursor: pointer;
		background: none;
		transition: color .7s ease-in, border .7s ease-out;
		border-bottom: 2px solid transparent;
		&.accountNav {
			margin-left: 10px;
			border-radius: 10px;
			padding: 2px 10px;
		}
	}
	div.accountNav {
		margin-left: 10px;
		cursor: pointer;
		img {
			border-radius: 25px;
			height: 33px;
			border: 1px solid transparent;
			position: relative;
			top: 0px;
		}
		.fa, .fas, .svg-inline--fa {
			font-size: 1.15em;
			margin-left: 3px;
			position: relative;
			top: 1px;
		}
	}
	* {
		user-select: none;
		outline: none;
	}
}

.mobileMenu {
	flex-direction: row;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 8px;
	border-bottom: none;
	border-top: 1px solid transparent;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	margin-top: 5px;
	button { 
		margin: 0px 5px !important;
		// width: 150px;
	}
}

/* Content Styling */

.pageContent {
	z-index: 1;
	display: flex;
	flex: 1;
	margin: 0px;
	width: calc(100% - 40px);
	font-family: "Georgia";
}

h2.pageTitle {
	font-family: "Rock Salt";
	font-style: italic;
}

.cardContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	.card {
		display: flex;
		border: 1px solid;
		border-radius: 5px;
		flex-direction: column;
		padding: 10px 20px;
		flex-grow: 1;
		transition: all .7s ease;
		margin: 7px 15px;
		border-radius: 5px;
		text-align: center;
		&:hover {
			box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.22);
			padding: 12px 22px;
			margin: 5px 13px;
		}
		box-shadow: 0 3px 6px rgba(0,0,0,0.13), 0 2px 4px rgba(0,0,0,0.18);
		&.mini { max-width: 75px; }
		&.small { max-width: 150px; }
		&.medium { max-width: 300px; }
		&.large { max-width: 450px; }
		.title {
			font-family: "Arial Black";
			font-size: .9em;
		}
	}
}

.iconRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	user-select: none;
	.medIcon {
		&.card {
			box-shadow: 0 3px 6px rgba(0,0,0,0.13), 0 2px 4px rgba(0,0,0,0.18);
			padding: 5px;
			margin: 5px 10px;
			transition: .75s all ease; 
			&:hover, &.active {
				box-shadow: 0 15px 25px rgba(0,0,0,0.16), 0 5px 7px rgba(0,0,0,0.22);
				padding: 7px;
				margin: 3px 8px;
			}
		}
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 5px 15px;
		img {
			width: 96px;
		}
		span {
			font-family: "Righteous";
			font-size: 1.2em;
		}

	}
}


/* Theme selection UI stuff */
.themeColors {
	width: 100%;
	margin: 2px 0px 0px 0px;
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	.bubble { 
		padding: 10px;
		border: 1px solid;
		border-radius: 20px;
	}
}

/* Dialog Overlay Style Rules */
ux-dialog-overlay.active {
 background-color: black;
 opacity: .7;
}