/* JUST THE LANDSCAPE PHONE ZONE */
@media screen and (min-width: 450px) and (max-width: 651px) { 
	.hide-phoneland { display: none !important; }
	.only-desktop { display: none !important; }
	.only-tablet { display: none !important; }
	.only-phoneport { display: none !important; }
}

/* EVERYTHING PHONE LAND AND BELOW */
@media screen and (max-width: 651px) {
	.pageContent {
		width: 100vw !important;
	}
}