/* JUST THE TABLET ZONE */
@media screen and (min-width: 651px) and (max-width: 1023px) { 
	.hide-tablet { display: none !important; }
	.only-desktop { display: none !important; }
	.only-phoneland { display: none !important; }
	.only-phoneport { display: none !important; }
}

/* EVERYTHING TABLET AND BELOW */
@media screen and (max-width: 1023px) { 
}

/* EVERYTHING TABLET AND ABOVE */
@media screen and (min-width: 651px) { 
}