<template>
	<section class="au-animate color-pri-text" click.delegate="clickDeli($event)">
		<div class="flexCol middleClass bg-pri-light">
			<h2 class="pageTitle marVert0 color-acc-med">${title}</h2>
			<hr class="stub color-acc-med">
		</div>
		<div class="splash top0">
			<i class="loadIcon fas fa-comment color-pri-dark"></i>
			<span class="loadMessage">This is where<br>useful information goes!</span>
		</div>
	</section>
</template>