<template>
	<section class="au-animate color-pri-text" click.delegate="clickDeli($event)">
		<div class="flexCol middleClass bg-pri-light">
			<!-- <img class="animBrightFlicker" src.bind="avm.appData.logoImg" alt="${avm.appData.title} Logo"> -->
			<h2 class="pageTitle marVert0 color-acc-med">${title}</h2>
			<hr class="stub color-acc-med">
		</div>
		<div class="splash top0">
			<!-- <i class="loadIcon fas fa-church color-pri-dark"></i> -->
			<span class="loadMessage" show.bind="avm.session.user.displayName != null">Welcome Back ${avm.session.user.displayName.split(' ')[0]}</span>
		</div>
		<div class="iconRow">
			<div class="medIcon" repeat.for="icon of icons" data-cat="${icon.cat}" data-val="${icon.val}" >
				<img src.bind="icon.src" alt.bind="src.title">
				<span class="title">${icon.title}</span>
			</div>
		</div>
	</section>
</template>