<template>
	<section class="au-animate color-pri-text" click.delegate="clickDeli($event)">
		<div class="flexCol middleClass bg-pri-light">
			<!-- <h2 class="pageTitle marVert0 color-acc-med">${title}</h2> -->
			<img class="animBrightFlicker" src.bind="avm.appData.logoImg" alt="${avm.appData.title} Logo">
			<h2 class="pageTitle marVert0 color-acc-med">${avm.appData.title}</h2>
			<hr class="stub color-acc-med">
		</div>
		<div class="splash top0">
			<span class="loadMessage">${avm.appData.tagLine}</span>
		</div>
	</section>
</template>