<template bindable="router" class="navTemplate" click.delegate="router.menuDeli($event)">
	<div class="mainMenu">	
		<div class="topMenuLogo pointy" data-cat="link" data-val="">
		<!-- TITLE -->
			<img class="logoImage" src.bind="router.avm.appData.logoIcon" alt="" if.bind="router.avm.appData.logoIcon != null">
			<span class="logoText color-pri-text hidden" if.bind="router.avm.appData.title != null">${router.avm.appData.title}</span>
		</div>

		<div class="color-acc-text au-animate" show.bind="avm.session.appLoading != true">
		<!-- Tablet / Desktop Navigation Items -->
			<a repeat.for="row of router.navigation" href.bind="row.href" class="hide-phoneland hide-phoneport">
				<button class="${row.isActive ? 'active color-acc-feat bor-acc-light' : 'color-pri-text'} ${row.settings.class}">
					${row.title}
				</button>
			</a>
			<button click.trigger="router.avm.db.logInGoogle()" class="accountNav bg-acc-feat color-acc-text" show.bind="router.avm.session.loggedIn != true ">Log In</button>
			<div class="topMenuTrigger au-animate hide-tablet hide-desktop noBorder" data-cat="mobileMenu" data-val="toggle">
			<!-- MOBILE MENU TRIGGER- Portrait and Landscape Menu -->
				<button class="animFade round bg-acc-feat color-acc-text" show.bind="router.mobileMenuOpen === false">
					<i class="fas fa-bars"></i>
				</button>
				<button class="animFade round bg-acc-feat color-acc-text " show.bind="router.mobileMenuOpen === true">
					<i class="fas fa-times"></i>
				</button>
			</div>
			<div class="accountNav" data-cat="link" data-val="settings" show.bind="router.avm.session.loggedIn === true">
				<img src.bind="router.avm.session.user.photo" class="bor-pri-feat">
				<i class="fas fa-caret-down color-acc-feat"></i>
			</div>
		</div>

	</div>
	<div class="mobileMenu animFade bg-pri-dark color-pri-text bor-pri-feat au-animate hide-desktop hide-tablet" show.bind="router.mobileMenuOpen == true && avm.session.appLoading != true">
	<!-- MOBILE MENU - Navigation Items -->
		<a repeat.for="row of router.navigation" href.bind="row.href" show.bind="row.isActive != true">
			<button class="accountNav bg-pri-med color-pri-text ${row.settings.class}">
				${row.title}
			</button>
		</a>
		<button click.trigger="router.avm.db.logOut()" class="accountNav bg-acc-feat color-acc-text" show.bind="router.avm.session.loggedIn === true ">Log Out</button>
	</div>
</template>