<template>
    <ux-dialog class="bg-pri-light color-pri-text bor-pri-feat">
        <ux-dialog-body innerHTML.bind="data.body | sanitizeHTML">
        </ux-dialog-body>
        <ux-dialog-footer>
            <button click.trigger="controller.cancel()">${data.options.labels.no}</button>
            <button click.trigger="controller.ok()">${data.options.labels.yes}</button>
        </ux-dialog-footer>
    </ux-dialog>
</template>