<template>
	<require from ="styles/main.css"></require>
	<require from="components/nav-bar/nav-bar.html"></require>


	<div id="content" class="fullWidth">
	<!-- 
		APPLICATION MENU 
	-->
		<nav-bar router.bind="router" id="topMenuBar" class="noPrint navApp" role="navigation">
		</nav-bar>
		
	<!-- 
		Loading Splash Screen 
	-->
	<div class="splash animPulse" show.bind="avm.session.appLoading === true">
		<i class="loadIcon fas fa-cog color-acc-feat fa-spin"></i>
		<div class="color-acc-med loadMessage">Loading</div>
	</div>

	<!-- 
		Currently Active VIEW CONTENT 
	-->
		<div class="pageContent" class="color-pri-text" show.bind="avm.session.appLoading != true">
			<router-view class="fullWidth">
			</router-view>
		</div>

	</div>
</template>
